/* HTML Elements */

body{
    font-family: 'Montserrat', sans-serif;
}

h1 , h2{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Navigation Bar */

.navbar{
padding: 0  0 4.5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
}

/* Title Download Button */  

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{                  /* container-fluid makes anything inside span width of the size of the screen*/
    padding: 3% 15% 7%;    
}


.download-button{
  margin: 7% 3% auto 0;
}

/* Title Photo Image */

.phone-image{
    width: 60%;
    transform: rotate(25deg); /* Rotates the phone image */
    position: absolute;
    right: 30%;
    
}

/* Features Section */

#features{
  padding: 7% 1%;
  background-color: #fff;
  position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-box  h3{
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.feature-box  p{
    color: #8f8f8f;
    
}

.fa-solid{
    color: #ef8172;
    margin: 1rem;
    
}

.fa-solid:hover{
    color: #ff4c68;
    
}



/* Testimonials */

#testimonials{
    background-color: #ef8172;
    padding: 5%;
    text-align: center;
    color: white;
}

.testimonial-image{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}


/* Press Section */

#press{
    background-color: #ef8172;
    text-align: center;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

.white-section{
    text-align: center;
    margin: 100px;
}

.pricing-column{
    padding: 5% 3%;
}


/* CTA - Call To Action */


.colored-section{
    background-color: #ff4c68;
    text-align: center;
    padding: 1%;
}

.big-heading{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    margin-top: auto;
}

.cta-button{
    margin: 5% 1%;
}



/* Footer */


#footer{
    text-align: center;
   margin: 10% auto;
}

.icons{
    margin: 1%;
}

.copyright{
    padding: 5%;
}






@media (max-width: 1028px) {            /* Makes title page responsive on smaller screens */

    #title {
      text-align: center;
    }
  
    .phone-image {
      position: static;
      transform: rotate(0);
    }
  }


